<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a movie</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

    <div class="container text-center">
        <div class="row">
            <a href="/admin/movielist" class="btn btn-primary col-auto m-2">Back</a>
            <h1>Add details</h1>
        </div>
    </div>

    <div class="container">
        <form th:object="${movie}" th:action="@{/admin/movielist/add/save}" method="post" enctype="multipart/form-data">
            <label for="name" class="form-label fw-bold">Name</label>
                <input type="text" id="name" th:field="*{name}" class="form-control">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
            <label for="description" class="form-label fw-bold">Description</label>
                <textarea rows="3" id="description" th:field="*{description}" class="form-control"></textarea>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
            <label for="imgFile" class="form-label fw-bold">imgFile (JPEG)</label>
                <input type="file" id="imgfile" name="imgfile" accept="image/jpeg" class="form-control">
            <label for="release_year" class="form-label fw-bold">Release Year</label>
                <input type="number" id="release_year" th:field="*{release_year}" class="form-control">
                <p th:if="${#fields.hasErrors('release_year')}" th:errors="*{release_year}">Release Year Error</p>
            <label for="directorlist" class="form-label fw-bold">Director</label>
                <select id="directorlist" th:field="*{director}" class="form-select">
                    <option th:each="director : ${directors}" 
                            th:value="${director.id}" 
                            th:text="${director.name}"></option>
                </select>
            <label for="genrelist" class="form-label fw-bold">Genre</label>
                <select id="genrelist" th:field="*{genre}" class="form-select">
                    <option th:each="genre : ${genres}" 
                            th:value="${genre.id}"
                            th:text="${genre.name}"></option>
                </select>
            <input type="submit" value="Save" class="btn btn-success mt-3">
        </form>
    </div>

</body>

</html>